.cardLayout-wrapper{
  padding: 6rem;
}

.card:nth-child(2){
  margin-top: 8.5rem;
}



@media only screen and (max-width: 425px) { 
  .cardLayout-wrapper {
    padding: 0;
  }

  .cardLayout-wrapper .card {
    padding: 0;
    margin: 0;
  }

  .project-image{
    width: 100%;
  }
}