.cardLayout-wrapper{
  padding: 6rem;
}



@media only screen and (max-width: 425px) { 
  .cardLayout-wrapper {
    padding: 0;
  }

  .cardLayout-wrapper .card {
    padding: 0;
  }

  .project-image{
    width: 100%;
  }
}